*{
  margin:0px;
  padding: 0;
}


#welcome{
background-color:  rgba(255, 255, 255, 0.5);
font-size: 3vh;
padding: 9px;
}

nav{
  position: fixed;
  width: 100%;
  top:0px;
  box-shadow: 0px 4px 14px 0px #040640;
  z-index: 10;
}
#mobilenav{
  visibility: hidden;
  cursor: pointer;
}
ul {
  list-style-type: none;
  padding: 0;
  overflow: hidden;
  background-color: #040640;
}
li {
  float: left;
}
li a {
  display: block;
  color: white;
  text-align: center;
  padding: 16px 16px;
  text-decoration: none;
}
#searchbar{
  text-align: center;
  font-size: 16px;
  margin: 17px 16px;
  text-decoration: none;
}
#searchbar:hover{
background-color: cyan;
}
li :hover {
  background-color: #111;
}
#navlist{
    font-size: 23px;
    margin-top: 3px;
}
#mobilenavall{
  padding:10px;
  margin-top: 2px;
  font-size:18px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#rightoption{
    float: right;
}

#container{
  background-size:unset;
  margin-bottom: 20vh;
}

#feed{
  text-align: center;
  
}
#feedhead{
  display: inline-block;
  width: 95%;
  max-width: 1110px;
  background-color: rgb(103, 103, 103);
  color:white;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding: 7px;
  padding-bottom: 10px;
  margin-bottom: 10px;
  font-size: 32px;
  box-shadow: 0px 0px 16px 3px #000000;
}

#feed article{
  display: inline-block;
  background-color:rgba(0, 0, 0, 0.5);
  width: 95%;
  max-width: 1110px;
  padding: 7px;
  box-shadow: 0px 0px 20px 3px;
  margin-bottom: 200px;
  padding-bottom: 10px;
}

#feed article header{
background-color: #222222;
color:white;
font-size: 20px;
padding: 9px;
}
#feed article p{
font-size: 18px;
color: white;
padding: 2px;
border: 2px dotted;
border-top: none;
border-bottom-right-radius: 12px;
border-bottom-left-radius: 12px;
}

#background{
top: 0;
bottom: 0;
position: fixed;
padding: 0;
margin: 0;
color: black;
height: 100%;
width: 100%;
z-index:-100;
background-color: #010023;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='384' height='384' viewBox='0 0 800 800'%3E%3Cg fill='none' stroke='%23404' stroke-width='1'%3E%3Cpath d='M769 229L1037 260.9M927 880L731 737 520 660 309 538 40 599 295 764 126.5 879.5 40 599-197 493 102 382-31 229 126.5 79.5-69-63'/%3E%3Cpath d='M-31 229L237 261 390 382 603 493 308.5 537.5 101.5 381.5M370 905L295 764'/%3E%3Cpath d='M520 660L578 842 731 737 840 599 603 493 520 660 295 764 309 538 390 382 539 269 769 229 577.5 41.5 370 105 295 -36 126.5 79.5 237 261 102 382 40 599 -69 737 127 880'/%3E%3Cpath d='M520-140L578.5 42.5 731-63M603 493L539 269 237 261 370 105M902 382L539 269M390 382L102 382'/%3E%3Cpath d='M-222 42L126.5 79.5 370 105 539 269 577.5 41.5 927 80 769 229 902 382 603 493 731 737M295-36L577.5 41.5M578 842L295 764M40-201L127 80M102 382L-261 269'/%3E%3C/g%3E%3Cg fill='%23990099'%3E%3Ccircle cx='769' cy='229' r='5'/%3E%3Ccircle cx='539' cy='269' r='5'/%3E%3Ccircle cx='603' cy='493' r='5'/%3E%3Ccircle cx='731' cy='737' r='5'/%3E%3Ccircle cx='520' cy='660' r='5'/%3E%3Ccircle cx='309' cy='538' r='5'/%3E%3Ccircle cx='295' cy='764' r='5'/%3E%3Ccircle cx='40' cy='599' r='5'/%3E%3Ccircle cx='102' cy='382' r='5'/%3E%3Ccircle cx='127' cy='80' r='5'/%3E%3Ccircle cx='370' cy='105' r='5'/%3E%3Ccircle cx='578' cy='42' r='5'/%3E%3Ccircle cx='237' cy='261' r='5'/%3E%3Ccircle cx='390' cy='382' r='5'/%3E%3C/g%3E%3C/svg%3E");
}

#background img{
object-fit: cover;
}

.passInput{
text-align: center;
border-radius: 10px;
background-color: transparent;
border: 3px solid;
border-image: linear-gradient(to right bottom, #c40008, #010023 ) 1 100;
padding: 5px;
font-size: 18px;
color: yellow !important;
min-width: 280px;
max-width: 650px;
margin: 5px;
outline: none;
}

.passInput::placeholder{
color: rgb(128, 128, 128);
}

#passCs::placeholder{
color: rgb(144,144,144) !important;
}
#passCs{
color: black;
}

#test{
background-color: rgba(0, 0, 0, 0.5);
border-radius: 5px;
margin-top: 15px;
margin-bottom: 0;
color: yellow;
}

#meraForm{
text-align: center;
}

.accordion {
background-color: #333;
color: white;
cursor: pointer;
padding: 18px;
width: 100%;
border: none;
text-align: left;
outline: none;
font-size: 18px;
transition: 0.4s;
}

.active, .accordion:hover {
background-color: #111; 
}

.panel {
padding: 0 18px;
display: none;
background-color: rgba(255, 255, 255, 0.7);
overflow: hidden;
}

.panel p{
color:black;
font-size: 3vh;
padding: 5px;
}

.panel li{
color:black;
font-size: 3vh;
padding: 5px;
}

#welcome img{
width: 100%;
max-width: 500px;
height: auto;
}

footer{
text-align: center;
display: inline-block;
width: 100%;
padding-top: 16px;
padding-bottom: 6px;
border-top: 1px solid orange;
bottom: 0;
margin: 0;
font-size: 16px;
color: white;
}
/* //!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!111
//!!!!!!!!!!!!!!!!!!!!PROFILE CSS!!!!!!!!!!!!!!!!!!!!111
//!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!111 */

#PROcontainerHead{
  color: white;
  text-align: center;
  font-size: 25px;
  border-top: 1px solid;
  border-image: linear-gradient(to right, red , blue, red) 1 100;
  border-bottom: 1px solid black;
  padding: 6px;
}

#photolist{
  margin-top: 50px;
  margin-bottom: 100px;
  padding: 5px;
  text-align: center;
  box-shadow: 0px 0px 8px 0px;
}
.photo{
  display: inline-block;
  margin-top: 20px;
  margin-bottom: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 10px;
  padding-left: 10px;
  max-width: 400px;
  width: 100%;
  text-align: center;
  border-bottom: 3px solid;
  border-image: linear-gradient(to right, red, green , blue,yellow, blue, green, red) 1 10;
}

.photo img{
  border: 2px solid black;
  border-radius: 8px;
  box-shadow: 0px 0px 8px 2px #000000;
}

#photoFormat{
  display: none;
}

#View{
  margin: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
  color: white;
  font-size: 24px;
  border: 2px solid black;
  background-color: rgba(red, 0,0, 1);
}

#formCss{
  text-align: center;
  padding: 4px;
  color: white;
  margin-top: 20px;
}

#form{
  display: inline-block;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 7px;
  border: 2px solid black;
  font-size: 20px;
}

#fileInput{
  padding: 7px;
  margin: 10px;
  background-color: #dba5a5;
  border-radius: 8px;
}

#imageBtnLeft{
  outline: none;
  border:0;
  margin: 0;
  color:white;
  border-top-left-radius: 9px;
  border-bottom-left-radius: 9px;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.6);
  font-size: 18px;
}

#imageBtnMiddle{
  outline: none;
  border:0;
  color:white;
  font-size: 18px;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.6);
  margin:0
}

#imageBtnRight{
  outline: none;
  border:0;
  margin: 0;
  color:white;
  border-top-right-radius: 9px;
  border-bottom-right-radius: 9px;
  padding: 10px;
  font-size: 18px;
  background-color: rgba(0, 0, 0, 0.6);
}

#imageBtnLeft:hover{
  background-color: white;
  color: black;
}

#imageBtnMiddle:hover{
  background-color: white;
  color: black;
}

#imageBtnRight:hover{
  background-color: white;
  color: black;
}


#myProgress {
  width: 100%;
  background-color: grey;
}

#myBar {
  width: 1%;
  height: 30px;
  background-color: green;
}





/* //!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!111
//!!!!!!!!!!!!!!!!!!!!PROFILE CSS Ends!!!!!!!!!!!!!!!!!!!!111
//!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!111 */

@media only screen and (max-width: 824px) {
*{
  box-sizing: border-box;
}
  
  #mobilenav{
      width:auto;
      height:auto;
      visibility: visible;
      color: white;
      font-size: 20px;
      float: right;
      margin: 13px 15px 7px;
      padding:0px 4px 2px 4px;
      border: 2px solid white;
      border-radius: 9px;
  }
  
  #navlist{
      visibility: hidden;
      display: block !important;
  }

  ul{
      text-align: center;
  }

  #navlist li{
      display: block;
      width: 100%;
      height: 0px;
  }

  #rightoption{
      width: 100%;
  }
  .photo{
    margin-top: 20px;
    margin-bottom: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 0;
    padding-left: 0;
    width: 100%;
    text-align: center;
    border-bottom: 3px solid black;
  }

  #form{
    text-align: center;
    max-width: 380px;
    min-width: 340px;
  }
  #sd{
    text-align: center;
    min-width: 340px;
    max-width: 380px;
  }
  .panel{
    padding: 0;
  }
}

::-webkit-scrollbar {
  width: 0px;
}