header{
    height: 15vh;
    background: url('https://fondo-photobase.s3.ap-south-1.amazonaws.com/back.jpg') center / cover;
    text-align: center;
    margin: 0;
    
  }
  p{
    font-family: 'Fira Code', monospace;
    color: yellow;
    font-size: 17px;
    padding-bottom: 15px;
  }
  span{
      color: green !important;
      font-weight: bolder;
      font-size: 18px !important;
  }
  .progress{
      background-color: snow !important;
      padding: 4px;
      border-radius: 8px;
      outline: none;
      width: 95% !important;
  }
  #prog div {
      text-align: center;
  }
  form div{
      text-align: center;
  }
 
#model{
  display: none;
}
#notFound{
  position: fixed;
  display:none;
  bottom: 10%;
  font-size: 6vh;
  width: 100%;
  height: 20%;
  color: white;
  text-align: center;
}

  .submitText{
      color: white;
      padding: 9px;
      margin: 10px;
      border: none;
      border: 2px solid white;
      border-radius: 8px;
      background-color: transparent;
  }

  header h1{
    padding: 2vh;
    margin: 0;
    color: white;
    font-family: 'Pacifico', cursive;
    bottom: 0;
    font-size: 8vh;
  }
  body{
    background-color:rgb(0, 13, 26);
  }

  fieldset{
    margin-top: 40px;
    margin-left: 15px;
    margin-right: 15px;
    padding-top: 3vh;
    padding-bottom: 1vh;
    padding: 1vh;
    color: white;
    border: 2px solid red;
    border-right: 0px;
    border-left: 0px;
    font-size: 2vh;
    background-color:black;
    border-radius: 22px;
    box-shadow: 0px 0px 10px 0px black;
  }

  legend{
    padding-right: 10px;
    padding-left: 10px;
    font-size: 4vh;
    text-align: center;  }

  .animate{
    animation: grow 0.09s linear 0s forwards;
}

  .animateEnd{
    animation: endd 0.04s linear 0s forwards;
  }


  @keyframes grow {
   from{
       font-weight: 300;
       font-size: 4vh;
   }
   to{
       font-weight: 800;
       font-size: 5vh;
   }
}

  @keyframes endd{
    from{
      font-weight: 800;
      font-size: 5vh;
    }
    to{
      font-weight: 300;
      font-size: 4vh;
    }
  }


  #add-button{
    float: right;
    position: fixed;
    bottom: 0;
    right: 0;
    padding: 20px;
    animation: button 2s linear;
  }

 hr{
  width:70%;
  margin-left:15% !important;
  margin-right:15% !important;
  margin: 2vh;
 }

 footer{
   display: none;
   position: absolute;
   width: 100%;
   bottom: 0px;
   color: white;
   text-align: center;
   padding-bottom: 9px;
   z-index: -3000;
 }