<!DOCTYPE html>
<html lang="en" >

<head>
  <meta charset="UTF-8">
  <meta name ="viewport" content="width=device-width,initial scale=1 shrink-2-fit=no">
  <title>ALL IN ONE</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
		<link rel="stylesheet" href="./file/css/colour.css">

      <link rel="stylesheet" href="./css/style.css">
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.0/css/bootstrap.min.css" integrity="sha384-PDle/QlgIONtM1aqA2Qemk5gPOE7wFq8+Em+G/hmo5Iq0CCmYZLv3fVRDJ4MMwEA" crossorigin="anonymous">

      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
      <link rel="stylesheet" text href="./css/style.css">
      <link href="https://fonts.googleapis.com/css?family=Josefin+Sans|Yatra+One" rel="stylesheet">


</head>
<body style="background-color: rgba(0,0,0,0.7);">
  <br>
  <h1 align="center">ALL IN ONE</h1>

  <br>  
  <nav class="navbar navbar-expand-md  bg-dark justify-content-center sticky-top">
    <ul class="navbar-nav">
	   </li>
	     <li class="nav-item">
        <a class="nav-link" href="#ABOUT US">ABOUT US</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="electrician">ELECTRICIAN</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/plumber">PLUMBER</a>
      </li>	
      <li class="nav-item">
        <a class="nav-link" href="#CONTACTUS">CONTACT US</a>
      </li>	
    </ul>
  </nav>
  <div class="carousel" style=" z-index: -1000 !important;" id='ABOUT US'>
  <div class="carousel__slide" style="text-align: center;  z-index: -1000 !important;"><img style="  filter: brightness(0.4) blur(8px); z-index: -1000 !important;" class="slide__image" src="https://fondo-photobase.s3.amazonaws.com/63.jpeg" alt=""></div>
   </div>
	<br><br>
	<div class="container"  style="color: white; text-align: center; margin-top: -900px; z-index: 1000 !important;">
	<u><b><h1>ABOUT OUR INITIATIVE</h1></b></u>
	<br>
	<align="center">In the contemporary <b>COMPETITIVE</b> world, we bring to you all you need.<br>
	<align="center">The website provides linkings with all the PLUMBERS,ELECTRICIANS in your area, so when you need <br>
	<align="center">they are just a call away.<br><br>
	<align="center">All the workers provided here are skillfull,trustworthy with their ID-PROOFS.<br>
	<align="center">So all you need is to relax and call for taking benefits of our <b>World-Class</b> Services.
	<br>
	<br>
	<h2 align='center'>PLEASE LOG IN TO HELP US SERVE YOU BETTER</h2>
	<br><br>
	<b ALIGN='CENTER'>PLEASE CLICK ON ELECTRICIAN OR PLUMBER TAB TO FURTHER PROCEED.</B>
	</div>
	<BR><BR>
	<div class="container" style="color: white;"  align="center">
	If you are a <B>COMPETENT WORKER</b>, Please feel free to contact us or <a href="/worker">LOGIN</a>
	<br><br>
	<div id="CONTACTUS">
  <div class="container">
    
      


                    <h1 align="center"><b>Contact Us</h1></b>

               
    </header>
  </div>
</div>

    <div class="container">
    
              <p>Phone Number:<a href="Tel:+91 1234567890">7903727205</a><br>
			  Email id: <a href="mailto:akashbhakat123890@gmail.com">akashbhakat123890@gmail.com</a></p>
          </div>
          
        </div>



<br>
<br>
        </div>
      </div>
    </div>
	