<!DOCTYPE html>
<html>
    <head>
        <title>fondo</title>
        <meta name="theme-color" content="#333">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="icon" href="/favicon.ico">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
        <link rel="stylesheet" href="index.css">
        <script src="index.js"></script>
    </head>
    <body onload="search();">
            <div id="background">
                    <img src="https://shirley-setia.000webhostapp.com/FondoBackground.svg" style="width: 100%; min-height: 100%;" alt="background">
            </div>
            <div id="fb-root"></div>
            <script>(function (d, s, id){
              var js, fjs = d.getElementsByTagName(s)[0];
              if (d.getElementById(id)) return;
              js = d.createElement(s); js.id = id;
              js.src = 'https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.1';
              fjs.parentNode.insertBefore(js, fjs);
            }(document, 'script', 'facebook-jssdk'));
            </script>
        <header>
            <nav> 
                <ul>
                    <li>
                        <a id="mobilenavall" href="/">
                            <h1>fondo</h1>
                        </a>
                    </li>
                    <li id="mobilenav" onclick="togglenav();">&#9776;</li>
                    <div id="navlist">
                    <li><a href="/confessions" onclick="togglenav();">Confessions</a></li>
                    <li><a href="/profile" onclick="togglenav();">Profile</a></li>
                    <li><a href="/about" onclick="togglenav();">About</a></li>
                    <div id="rightoption">
                    <li><input type="search" placeholder="Enter ID" id="searchbar" style="border-radius: 10px; outline:none;" name="searchID"></li>
                    <li><a href="/create" onclick="togglenav();" style="border: 2px solid white; border-radius:5px; padding:5px; margin:10px;">&#65291; CREATE</a></li>
                    </div>
                    </div>
                </ul>
            </nav>
        </header>
        <section id="container" style="margin-top: 66.6px;">
            <br>
            <button class="accordion">What and how?</button>
            <div class="panel">
              <p><b>What is this site all about?</b><br>
                  As of now, this website is intended to provide personal and customizable backgounds for various
                  other websites along with chrome extension. So far it works best with VIT website.<br>
                  In future, various other features such as confessions will be added.<br>
                  <b>Note:</b> This website is in beta mode.</p>
              </p>
              <hr style="color: black !important; width:80%; margin: 16px; height: 2px;">
              <p>To get this working,
                <li>Add the chrome extension from store through this link.</li>
                <li>Create a new ID from <i>create</i> button.</li>
                <li>Search for the ID in search bar and enter the password to set as profile.</li>
                <li>Click on <i>profile</i> to see your ID as profile and play around.</li>
              </p>
            </div><br><br>
            <section id="feed">
                <header id="feedhead">
                    <b>News Feed</b>
                </header>
                <br>
                <article>
                    <header>
                         <h3>Facebook Updates</h3>
                    </header>
                    <button class="accordion">General News</button>
                    <div class="panel">
                            <div class="fb-page" data-href="https://www.facebook.com/ZeeNews" data-tabs="timeline" container-width="true" data-width="340"  data-small-header="true"  data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/ZeeNews" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/ZeeNews">Zee News</a></blockquote></div>
                            <div class="fb-page" data-href="https://www.facebook.com/NBCNewsWorld" data-tabs="timeline" container-width="true" data-width="340"  data-small-header="true"  data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/NBCNewsWorld" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/NBCNewsWorld">Zee News</a></blockquote></div>
                            <div class="fb-page" data-href="https://www.facebook.com/bbctech" data-tabs="timeline" container-width="true" data-width="340" data-small-header="true"  data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/bbctech" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/bbctech">Zee News</a></blockquote></div>
                    </div>
                    
                    <button class="accordion">VIT Official Pages</button>
                    <div class="panel">
                            NULL
                    </div>
                    
                    <button class="accordion">Tech Pages</button>
                    <div class="panel">
                            <div class="fb-page" data-href="https://www.facebook.com/venturesity.vit" data-tabs="timeline" container-width="true" data-width="340" data-small-header="true"  data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/venturesity.vit" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/venturesity.vit">Zee News</a></blockquote></div>
                            <div class="fb-page" data-href="https://www.facebook.com/ACM.VITU" data-tabs="timeline" container-width="true" data-width="340" data-small-header="true"  data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/ACM.VITU" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/ACM.VITU">Zee News</a></blockquote></div>
                            <div class="fb-page" data-href="https://www.facebook.com/csivitu" data-tabs="timeline" container-width="true" data-width="340" data-small-header="true"  data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/csivitu" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/csivitu">Zee News</a></blockquote></div>
                    </div>
               
                </article>

    <script>
        var acc = document.getElementsByClassName("accordion");
        var i;
        
        for (i = 0; i < acc.length; i++) {
          acc[i].addEventListener("click", function() {
            this.classList.toggle("active");
            var panel = this.nextElementSibling;
            if (panel.style.display === "block") {
              panel.style = `display:none;`;
            } else {
                panel.style = `display:block;`;              
            }
          });
        }
    </script>
            </section>  
                </section>    
        <footer>
            handcrafted every line of code by Anonymous
            <br>
            Powered by: Heroku | Godaddy | AWS S3 | Third Party Database Manager
        </footer>
    </body>
</html>