<!DOCTYPE html>
<html>
    <head>
        <title>fondo</title>
        <meta name="theme-color" content="#333">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="icon" href="/favicon.ico">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
        <link rel="stylesheet" href="index.css">
        <script src="index.js"></script>
    </head>
    <body onload="search();">
            <div id="background">
                    <img src="https://shirley-setia.000webhostapp.com/FondoBackground.svg" style="width: 100%; min-height: 100%;" alt="background">
            </div>
            <div id="fb-root"></div>
            <script>(function(d, s, id){
              var js, fjs = d.getElementsByTagName(s)[0];
              if (d.getElementById(id)) return;
              js = d.createElement(s); js.id = id;
              js.src = 'https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.1';
              fjs.parentNode.insertBefore(js, fjs);
            }(document, 'script', 'facebook-jssdk'));</script>
        <header>
            <nav> 
                <ul>
                    <li>
                        <a id="mobilenavall" href="/">
                            <h1>fondo</h1>
                        </a>
                    </li>
                    <li id="mobilenav" onclick="togglenav();">&#9776;</li>
                    <div id="navlist">
                    <li><a href="/confessions" onclick="togglenav();">Confessions</a></li>
                    <li><a href="/profile" onclick="togglenav();">Profile</a></li>
                    <li><a href="/about" onclick="togglenav();">About</a></li>
                    <div id="rightoption">
                    <li><input type="search" placeholder="Enter ID" id="searchbar" style="border-radius: 10px; outline:none;" name="searchID"></li>
                    <li><a href="/create" onclick="togglenav();" style="border: 2px solid white; border-radius:5px; padding:5px; margin:10px;">&#65291; CREATE</a></li>
                    </div>
                    </div>
                </ul>
            </nav>
        </header>
        <section id="container" style="margin-top: 66.6px;">
            <section id="feed">
                <header id="feedhead">
                    <b>News Feed</b>
                </header>
                <br><br>
                <article>
                    <header>
                         <h3>Facebook Updates</h3>
                    </header>
                    <button class="accordion">Section 1</button>
                    <div class="panel">
                            <div class="fb-page" data-href="https://www.facebook.com/ZeeNews" data-tabs="timeline" container-width="true" data-width="320" data-small-header="true"  data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/ZeeNews" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/ZeeNews">Zee News</a></blockquote></div>
                            <div class="fb-page" data-href="https://www.facebook.com/venturesity.vit/" data-tabs="timeline" container-width="true" data-width="500" data-small-header="true"  data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/ZeeNews" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/ZeeNews">Zee News</a></blockquote></div>
                    </div>
                    
                    <button class="accordion">Section 2</button>
                    <div class="panel">
                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                    </div>
                    
                    <button class="accordion">Section 3</button>
                    <div class="panel">
                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                    </div>
               
                </article>

<script>
        var acc = document.getElementsByClassName("accordion");
        var i;
        
        for (i = 0; i < acc.length; i++) {
          acc[i].addEventListener("click", function() {
            this.classList.toggle("active");
            var panel = this.nextElementSibling;
            if (panel.style.display === "block") {
              panel.style.display = "none";
            } else {
              panel.style.display = "block";
            }
          });
        }
        </script>
                <article>
                    <header>
                        <h3>This is the first news!</h3>
                    </header>
                    <p>
                            MySQL Tutorial #1 in Hindi : Introduction and Installation of MySQL Server
                            78,455 views
                            
                            676
                            
                            19
                            SHARE
                            
                            SAVE
                            
                            
                            Easy Engineering Classes
                            Published on Oct 28, 2017
                            MySQL Tutorial for Beginners #1 in Hindi : Introduction and Installation of MySQL Server
                            
                            MySQL tutorial for Beginners 
                            MySQL Installation Guide
                    </p>
                </article>
                <article>
                        <header>
                            <h3>This is the first news!</h3>
                        </header>
                        <p>
                                MySQL Tutorial #1 in Hindi : Introduction and Installation of MySQL Server
                                78,455 views
                                
                                676
                                
                                19
                                
                                SHARE
                                
                                SAVE
                                
                                
                                Easy Engineering Classes
                                Published on Oct 28, 2017
                                MySQL Tutorial for Beginners #1 in Hindi : Introduction and Installation of MySQL Server
                                
                                MySQL tutorial for Beginners 
                                MySQL Installation Guide
                        </p>
                    </article>
                    <article>
                            <header>
                                <h3>This is the first news!</h3>
                            </header>
                            <p>
                                    MySQL Tutorial #1 in Hindi : Introduction and Installation of MySQL Server
                                    78,455 views
                                    
                                    676
                                    
                                    19
                                    
                                    SHARE
                                    
                                    SAVE
                                    
                                    
                                    Easy Engineering Classes
                                    Published on Oct 28, 2017
                                    MySQL Tutorial for Beginners #1 in Hindi : Introduction and Installation of MySQL Server
                                    
                                    MySQL tutorial for Beginners 
                                    MySQL Installation Guide
                            </p>
                        </article>
                        <article>
                                <header>
                                    <h3>This is the first news!</h3>
                                </header>
                                <p>
                                        MySQL Tutorial #1 in Hindi : Introduction and Installation of MySQL Server
                                        78,455 views
                                        
                                        676
                                        
                                        19
                                        
                                        SHARE
                                        
                                        SAVE
                                        
                                        
                                        Easy Engineering Classes
                                        Published on Oct 28, 2017
                                        MySQL Tutorial for Beginners #1 in Hindi : Introduction and Installation of MySQL Server
                                        
                                        MySQL tutorial for Beginners 
                                        MySQL Installation Guide
                                </p>
                            </article>
            </section>
                MySQL Tutorial #1 in Hindi : Introduction and Installation of MySQL Server
                78,455 views
                
                676
                
                19
                
                SHARE
                
                SAVE
                
                
                Easy Engineering Classes
                Published on Oct 28, 2017
                MySQL Tutorial for Beginners #1 in Hindi : Introduction and Installation of MySQL Server
                
                MySQL tutorial for Beginners 
                MySQL Installation Guide
                How to Install MySQL on windows 10
                 
                10:43
                Can You Carbonate Soda With Pop Rocks? Bad Idea...
                The Action Lab
                Recommended for you
                New
                
                
                11:31
                MySQL Tutorial #2 in Hindi: Setup Database and Tables for Complete MySQL Course
                Easy Engineering Classes
                47K views
                
                
                12:21
                THE REAL REASON WHY HUAWEI IS OFFICIALLY BANNED !
                Tech Burner
                Recommended for you
                New
                
                
                11:58
                Raju English Speaking - Amit Bhadana
                Amit Bhadana
                Recommended for you
                New
                
                
                25:52
                Jaanleva bimaari, Gym karne walon suno | Doctor tells on Tarun Gill Talks
                Tarun Gill
                Recommended for you
                
                
                9:02
                Huawei is Banned - The Full Story Explained 🔥🔥🔥
                Technical Guruji
                Recommended for you
                New
                
                
                12:11
                Dark Secrets of Huawei - USA Ban? Huawei Right or Wrong??? 🔥🔥🔥
                Technical Guruji
                Recommended for you
                New
                
                
                Salani (Village) Cosco Cricket Cup 2019
                punjablive24
                904 watching
                LIVE NOW
                
                
                16:53
                Indians and Wedding | Harsh Beniwal
                Harsh Beniwal
                Recommended for you
                New
                
                
                35:37
                TVF Kota Factory | The Complete Interview
                Radio City India
                Recommended for you
                New
                
                
                8:38
                TVF Couples | Temporary Roommates
                The Viral Fever
                Recommended for you
                New
                
                
                21:35
                Benefits of GATE EXAM | How to Prepare WITH or WITHOUT coaching?
                Aman Dhattarwal
                Recommended for you
                
                
                7:26
                Coolest Office Ever? (Google Office Tour) - Hype Hunt: EP18
                Clicknetwork
                1.2M views
                
                
                13:13
                How to get a IT Job as a Fresher?
                Telusko
                90K views
                
                
                15:09
                Part 3.1 Functional Dependency in DBMS in HINDI | DATE BASE MANAGEMENT SYSTEM
                KNOWLEDGE GATE
                846K views
                
                
                15:30
                Lecture 1 Introduction to JAVA Hindi
                Java by Saurabh Shukla Sir
                870K views
                
                
                13:58
                XML Introduction | Features, Advantages | Example | HTML vs. XML in Hindi
                Easy Engineering Classes
                100K views
                
                
                1:04:10
                MySQL Complete Tutorial In Nepali
                Technology Channel
                3.3K views
                
                
                8:58
                Lec-47: SQL Queries and Subqueries (part-1) | Database Management System
                Gate Smashers
                178K views
                
                
                1:11:35
                MySQL Crash Course | Learn SQL
                Traversy Media
                30K views
                
                
                9:07
                PHP Tutorial for Beginners 1 # Getting Started and Introduction to PHP (For Absolute Beginners)
                ProgrammingKnowledge
                577K views
                
                
                1:18
                Difference between SQL and MySQL in short...
                KnowledgeSheer
                4.2K views
                
                
                8:08
                Create table in MySQL [in Hindi]
                Arpit Kapoor
                11K views
                
                
                5:27
                
                DDL , DML and TCL Command in MySQl in hindi
                ROHIT SINGH
                6.1K views
                
               </div>
               </section>        

    </body>
</html>