<!DOCTYPE html>
<html>
    <head>
            <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
            <script>
                 (adsbygoogle = window.adsbygoogle || []).push({
                      google_ad_client: "ca-pub-3936059999966875",
                      enable_page_level_ads: true
                 });
            </script>
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-143090125-1"></script>
        <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'UA-143090125-1');
        </script>
        <title>fondo</title>
        <meta name="description" content="This website adds custom background to websites right through your phone.">
        <meta name="keywords" content="VIT,wallpaper,wallpapers,background,backgrounds,fondo,fondo.xyz,vellore,website background,custom">
        <meta name="theme-color" content="#333">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="icon" href="/favicon.ico">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
        <link rel="stylesheet" href="index.css">
        <script src="index.js"></script>
    </head>
    <body onload="search();">
            <div id="background">
                    <img src="https://shirley-setia.000webhostapp.com/FondoBackground.svg" style="width: 100%; min-height: 100%;" alt="background">
            </div>
            <div id="fb-root"></div>
            <script>(function (d, s, id){
              var js, fjs = d.getElementsByTagName(s)[0];
              if (d.getElementById(id)) return;
              js = d.createElement(s); js.id = id;
              js.src = 'https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.1';
              fjs.parentNode.insertBefore(js, fjs);
            }(document, 'script', 'facebook-jssdk'));
            </script>
        <header>
            <nav> 
                <ul>
                    <li>
                        <a id="mobilenavall" href="/">
                            <h1>fondo</h1>
                        </a>
                    </li>
                    <li id="mobilenav" onclick="togglenav();">&#9776;</li>
                    <div id="navlist">
                    <li><a href="/confessions" onclick="togglenav();">Confessions</a></li>
                    <li><a href="/profile" onclick="togglenav();">Profile</a></li>
                    <li><a href="/about" onclick="togglenav();">About</a></li>
                    <div id="rightoption">
                    <li><input type="search" placeholder="Enter ID" id="searchbar" style="border-radius: 10px; outline:none;" name="searchID"></li>
                    <li><a href="/create" onclick="togglenav();" style="border: 2px solid white; border-radius:5px; padding:5px; margin:10px;">&#65291; CREATE</a></li>
                    </div>
                    </div>
                </ul>
            </nav>
        </header>
        <section id="container" style="margin-top: 66.6px;">
            <br>
            <div id="welcome">This website adds custom background to websites right through your phone.<hr>
                <b>For years</b><br>
                <img src="https://fondo-photobase.s3.ap-south-1.amazonaws.com/Screenshot+(370).png" alt="normal">
                <img src="https://fondo-photobase.s3.ap-south-1.amazonaws.com/Screenshot+(371).png" alt="normal"><br><hr><br>
                <b>After our extension:</b><br>
                <img src="https://fondo-photobase.s3.ap-south-1.amazonaws.com/ezgif.com-gif-maker+(1)-min.jpg" alt="avengers">
                <img src="https://fondo-photobase.s3.ap-south-1.amazonaws.com/ezgif.com-gif-maker+(2)+(1)-min.jpg" alt="jungle"><br>
                <img src="https://fondo-photobase.s3.ap-south-1.amazonaws.com/Capture.PNG" alt="jungle"><br>
            </div>
            <button class="accordion">What and how?</button>
            <div class="panel">
              <p><b>What is this site all about?</b><br>
                  As of now, this website is intended to provide personal and customizable backgrounds for various
                  other websites along with chrome extension. So far it works best with VIT website.<br>
                  In future, various other features such as confessions will be added.
                  <b>Method provided below is the best way until we provide the extension to chrome web store. Sorry!</b><br>
                  <b>Note:</b> This website is in beta mode.</p><br>
              </p>
              <hr style="color: black !important; width:80%; margin: 16px; height: 2px;">
              <p style="font-size: 24px;">To get this working,
                <li>Download the chrome extension from store through <a style="color: black;" href="/download">this link</a>.</li><br>
                <li>Open chrome extensions tab (chrome://extensions) and enable developer mode provided on right side.</li><br>
                <li>Unzip the downloaded file and click on 'load unpacked' and select the unzipped folder and there you go...</li><br>
                <li>Create a new ID from <i>create</i> button.</li><br>
                <li>Search for the ID in search bar and enter the password to set as profile.</li><br>
                <li>Click on <i>profile</i> to see your ID as profile and play around.</li><br>
              </p>
            </div>
            <button class="accordion">Pro Tips</button>
            <div class="panel">
                <p>
                    <li>Addition of extension is just one time process and all updates are provided directly.</li><br>
                    <li>Note that passowrd on ID doesn't protects the images and just covers the <i>Only me</i> images from showing them unnecessarily.</li><br>
                    <li>After searching an ID, if the ID has no passowrd then just click on passowrd input box and hit enter.</li><br>
                </p>
            </div>
            <br><br>
            <section id="feed">
                <header id="feedhead">
                    <b>News Feed</b>
                </header>
                <br>
                <article>
                    <header>
                         <h3>Facebook Updates</h3>
                    </header>
                    <button class="accordion">General News</button>
                    <div class="panel">
                            <div class="fb-page" data-href="https://www.facebook.com/ZeeNews" data-tabs="timeline" container-width="true" data-width="340"  data-small-header="true"  data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/ZeeNews" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/ZeeNews">Zee News</a></blockquote></div>
                            <div class="fb-page" data-href="https://www.facebook.com/NBCNewsWorld" data-tabs="timeline" container-width="true" data-width="340"  data-small-header="true"  data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/NBCNewsWorld" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/NBCNewsWorld">Zee News</a></blockquote></div>
                            <div class="fb-page" data-href="https://www.facebook.com/bbctech" data-tabs="timeline" container-width="true" data-width="340" data-small-header="true"  data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/bbctech" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/bbctech">Zee News</a></blockquote></div>
                    </div>
                    
                    <button class="accordion">VIT Official Pages</button>
                    <div class="panel">
                            NULL
                    </div>
                    
                    <button class="accordion">Tech Pages</button>
                    <div class="panel">
                            <div class="fb-page" data-href="https://www.facebook.com/venturesity.vit" data-tabs="timeline" container-width="true" data-width="340" data-small-header="true"  data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/venturesity.vit" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/venturesity.vit">Zee News</a></blockquote></div>
                            <div class="fb-page" data-href="https://www.facebook.com/ACM.VITU" data-tabs="timeline" container-width="true" data-width="340" data-small-header="true"  data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/ACM.VITU" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/ACM.VITU">Zee News</a></blockquote></div>
                            <div class="fb-page" data-href="https://www.facebook.com/csivitu" data-tabs="timeline" container-width="true" data-width="340" data-small-header="true"  data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/csivitu" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/csivitu">Zee News</a></blockquote></div>
                    </div>
               
                </article>

    <script>
        var acc = document.getElementsByClassName("accordion");
        var i;
        
        for (i = 0; i < acc.length; i++) {
          acc[i].addEventListener("click", function() {
            this.classList.toggle("active");
            var panel = this.nextElementSibling;
            if (panel.style.display === "block") {
              panel.style = `display:none;`;
            } else {
                panel.style = `display:block;`;              
            }
          });
        }
    </script>
            </section>  
                </section>    
        <footer>
            handcrafted every line of code by Anonymous
            <br>
            Powered by: Heroku | Godaddy | AWS S3 | Third Party Database Manager
        </footer>
    </body>
</html>