<fieldset>
    <legend>Change Blur Level</legend>
    <input class="btn" type="range" step="0.001" min="0" max=10 value="0">
    <p class="reading">current value: 0</p>
</fieldset>

<fieldset>
        <legend>Change Opacity Level</legend>
        <input class="btn" type="range" step="0.01" min="0.1" max="1" value="1">
        <p class="reading">current value: 1</p>
</fieldset><br><br>
<button>Click here to toggle extension</button>
<style>
    #body{
        background-color:lightgray;
    }

    button{
        outline:none;
        background-color: darkorange;
        color: white;
        border-radius: 5px;
        border: 2px solid black;
    }

    button:focus{
        background-color:chocolate;
    }
</style>
