<!DOCTYPE html>
<html>
    <head>
        <title>fondo</title>
        <link rel="icon" href="/favicon.ico">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <meta name="theme-color" content="#333">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
        <link rel="stylesheet" href="index.css">
        <script src="index.js"></script>
    </head>
    <body  onload="search();profile();" >
            <div id="background">
                    <img src="https://shirley-setia.000webhostapp.com/FondoBackground.svg" style="width: 100%; min-height: 100%;" alt="background">
            </div>
        <header>
            <nav> 
                <ul>
                    <li> 
                        <a id="mobilenavall" href="/">
                            <h1>fondo</h1>
                        </a>
                    </li>
                    <li id="mobilenav" onclick="togglenav();">&#9776;</li>
                    <div id="navlist">
                    <li><a href="/confessions" onclick="togglenav();">Confessions</a></li>
                    <li><a href="/profile" onclick="togglenav();">Profile</a></li>
                    <li><a href="/about" onclick="togglenav();">About</a></li>
                    <div id="rightoption">
                    <li><input type="search" placeholder="Enter ID" id="searchbar" style="border-radius: 10px; outline:none;" name="searchID"></li>
                    <li><a href="/create" onclick="togglenav();" style="border: 2px solid white; border-radius:5px; padding:5px; margin:10px;">&#65291; CREATE</a></li>
                    </div>
                    </div>
                </ul>
            </nav>
        </header>
        <section id="container" style="margin-top: 86.6px;">
            <header id="PROcontainerHead">
               <h4>Profile</h4><br>
                ID : <span id="id">No ID added to profile.</span>
            </header>
            <div id = 'formCss' style="visibility: hidden;">
                <div id="form">
                    <input id="fileInput" type="file" name="filetoupload"><br>
                    <div id="myProgress">
                            <div id="myBar"></div>
                            <div id="per"></div>
                        </div><br>
                    <form id = "form" action="/save-details" method="POST" enctype="multipart/form-data">
                        <label for="tags">Enter Tags (Space Separated)</label><br>
                        <input type="text" name="tags">
                        <input id="hid" type="hidden" name="UserID">
                        <input type="hidden" id="url" name="url">
                        <input id="type" type="hidden" name="image_type">
                        <input type="submit" id="dedo" value="submit">
                    </form>
                </div>
                    <script>
                        (() => {
                            document.getElementById("dedo").onclick = () => {
                              document.getElementById('hid').value = document.getElementById('id').innerText;
                              const files = document.getElementById('fileInput').files;
                              const file = files[0];
                              if(file == null){
                                return alert('No file selected.');
                              }
                              if(file.type.split('/')[0] != "image"){
                              alert("Please enter images");
                              document.getElementById('fileInput').value = "";
                              return;
                          }
                              document.getElementById('type').value = file.type;
                              getSignedRequest(file);
                            };
                          })();
                        </script>
            </div>
            <section id="photolist">
                <header id="imageBtnMiddle">
                    Your Photos<br>
                </header>
                <article id="photoFormat" class="photo">
                    <img width="95%" src="">
                    <div id="View" style="background-color: rgba(0, 0, 0, 0.6);"></div>
                    <button class="btn" id = "imageBtnLeft" onclick="setback(this);">Set Background</button><!--
                    --><button class="btn" id = "imageBtnMiddle" onclick="deletephoto(this);">Delete</button><!--
                    --><button class="btn" id = "imageBtnRight" onclick="toggleprivacy(this);">Toggle Privacy</button>
                </article>
            </section>
        </section>
    </body>
</html>
