<!DOCTYPE html>
<html>
    <head>
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <script>
     (adsbygoogle = window.adsbygoogle || []).push({
          google_ad_client: "ca-pub-3936059999966875",
          enable_page_level_ads: true
     });
    </script>
         <!-- Global site tag (gtag.js) - Google Analytics -->
         <script async src="https://www.googletagmanager.com/gtag/js?id=UA-143090125-1"></script>
         <script>
         window.dataLayer = window.dataLayer || [];
         function gtag(){dataLayer.push(arguments);}
         gtag('js', new Date());
         gtag('config', 'UA-143090125-1');
         </script>       
        <title>fondo</title>
        <meta name="description" content="This website adds custom background to websites right through your phone.">
        <meta name="keywords" content="VIT,wallpaper,wallpapers,background,backgrounds,fondo,fondo.xyz,vellore,website background,custom">
        <link rel="icon" href="/favicon.ico">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <meta name="theme-color" content="#333">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
        <link rel="stylesheet" href="index.css">
        <script src="index.js"></script>
    </head>
    <body  onload="search();profile();" >
        <header>
            <nav> 
                <ul>
                    <li> 
                        <a id="mobilenavall" href="/">
                            <h1>fondo</h1>
                        </a>
                    </li>
                    <li id="mobilenav" onclick="togglenav();">&#9776;</li>
                    <div id="navlist">
                    <li><a href="/confessions" onclick="togglenav();">Confessions</a></li>
                    <li><a href="/profile" onclick="togglenav();">Profile</a></li>
                    <li><a href="/about" onclick="togglenav();">About</a></li>
                    <div id="rightoption">
                    <li><input type="search" placeholder="Enter ID e.g. 1" id="searchbar" style="border-radius: 10px; outline:none;" name="searchID"></li>
                    <li><a href="/create" onclick="togglenav();" style="border: 2px solid white; border-radius:5px; padding:5px; margin:10px;">&#65291; CREATE</a></li>
                    </div>
                    </div>
                </ul>
            </nav>
        </header>
        <section id="container" style="margin-top: 86.6px;">
            <header id="PROcontainerHead">
               <h4>Profile</h4><br>
                ID : <span id="id">No ID added to profile.</span>
            </header>
            <div id = 'formCss' style="visibility: hidden;">
                <div id="form">
                    <input id="fileInput" type="file" name="filetoupload"><br>
                    <div id="myProgress">
                            <div id="myBar"></div>
                            <div id="per"></div>
                        </div><br>
                    <form id = "meraForm1" action="/save-details" method="POST" enctype="multipart/form-data">
                        <label for="tags">Enter Tags (Space Separated)</label><br>
                        <input type="text" name="tags">
                        <input id="hid" type="hidden" name="UserID">
                        <input type="hidden" id="url1" name="url">
                        <input id="type1" type="hidden" name="image_type">
                        <input type="button" id="dedo" value="submit">
                    </form>
                </div>
                    <script>
                        (() => {
                            document.getElementById("dedo").onclick = () => {console.log("yo");
                              document.getElementById('hid').value = document.getElementById('id').innerText;
                              const files = document.getElementById('fileInput').files;
                              const file = files[0];
                              if(file == null){
                                return alert('No file selected.');
                              }
                              if(file.type.split('/')[0] != "image"){
                              alert("Please enter images");
                              document.getElementById('fileInput').value = "";
                              return;
                          }
                              document.getElementById('type1').value = file.type;
                              console.log("yo");
                              getSignedRequest1(file);
                            };
                          })();
                        </script>
            </div><br>
            <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- index1 -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-3936059999966875"
     data-ad-slot="5524453604"
     data-ad-format="auto"
     data-full-width-responsive="true"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script><br>
            <section id="photolist">
                <header id="imageBtnMiddle">
                    Your Photos<br>
                </header>
                <article id="photoFormat" class="photo">
                    <img width="95%" src="">
                    <div id="View" style="background-color: rgba(0, 0, 0, 0.6);"></div>
                    <button class="btn" id = "imageBtnLeft" onclick="setback(this);">Set Background</button><!--
                    --><button class="btn" id = "imageBtnMiddle" onclick="deletephoto(this);">Delete</button><!--
                    --><button class="btn" id = "imageBtnRight" onclick="toggleprivacy(this);">Toggle Privacy</button>
                </article>
            </section>
        </section>
        <footer>
                handcrafted every line of code by Anonymous
                <br>
                Powered by: Heroku | Godaddy | AWS S3 | Third Party Database Manager
            </footer>
    </body>
</html>
