<!DOCTYPE html>
<html>
    <head>
        <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        <script>
         (adsbygoogle = window.adsbygoogle || []).push({
              google_ad_client: "ca-pub-3936059999966875",
              enable_page_level_ads: true
         });
        </script>
             <!-- Global site tag (gtag.js) - Google Analytics -->
             <script async src="https://www.googletagmanager.com/gtag/js?id=UA-143090125-1"></script>
             <script>
             window.dataLayer = window.dataLayer || [];
             function gtag(){dataLayer.push(arguments);}
             gtag('js', new Date());
             gtag('config', 'UA-143090125-1');
             </script>  
        <title>
            timeliner
        </title>
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
        <link href="https://fonts.googleapis.com/css?family=Pacifico&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.brown-teal.min.css">
        <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
        <link rel="stylesheet" href="timelinerCss.css">
        <link href="https://fonts.googleapis.com/css?family=Fira+Code|Pacifico&display=swap" rel="stylesheet">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="timelinerJs.js"></script>
        <meta name="theme-color" content="#010023">
        <link rel="icon" href="https://fondo-photobase.s3.ap-south-1.amazonaws.com/favicon.ico">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div id="background"></div>
      <header>
        <h1>
          timeliner
        </h1>
      </header><br>
      <div id="n" style="display: none;">0</div>

      <!-- search is here -->

        <div style="text-align: center;">
          <input type="number" id="search" placeholder="Search for your ID" class="progress"><br>
          <input class="submitText" onclick="search();" type="submit" value="Search">
        </div>
      <section></section>
        <fieldset id="model">
          <!-- 14 character max    12/07 | 12:00 PM -> -->
            <legend class="animateEnd">hey yo</legend>
            <div class="flow"></div>
            <br>
                <div class="update">
                      <input type="text" placeholder="Enter Your Progress..." class="progress"><br>
                      <button id="update" onclick="fire(this);" class="submitText">🔥</button>
                </div>
          </fieldset>

          <div id="notFound">
            No ID opened!
          </div>
          <!-- action="/timeliner/createTopic" -->
          <div style="display: none;" id="create">
          <fieldset>
              <!-- 14 character max -->
                <legend class="animateEnd"><input style="display: none; z-index: 100;" type="number" placeholder="Create numerical ID" name="ID" required><br><input type="text" placeholder="Topic Name" name="topicName" maxlength="14" required></legend>
                <div style="text-align:center;">
                <button class="submitText" id="submit">CREATE TOPIC</button><br>
                <button class="submitText" id="newID">Create ID</button> 
                </div>
              </fieldset>
            </div>
    <!-- FAB button with ripple -->
    <div id="add-button">
      <button class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored">
        <i class="material-icons">add</i>
      </button>
    </div><br><br>
    <footer>
        <hr>
      REGISTERED ID: <span>12345</span>
    </footer>
    </body>
</html>