<!DOCTYPE html>
<html>
    <head>
        <title>
            timeliner
        </title>
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
        <link href="https://fonts.googleapis.com/css?family=Pacifico&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.brown-teal.min.css">
        <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
        <link rel="stylesheet" href="timelinerCss.css">
        <link href="https://fonts.googleapis.com/css?family=Fira+Code|Pacifico&display=swap" rel="stylesheet">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="timelinerJs.js"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
      <header>
        <h1>
          timeliner
        </h1>
      </header><br>

      <!-- search is here -->

        <div style="text-align: center;">
          <input type="number" id="search" placeholder="Search for your ID" class="progress"><br>
          <input class="submitText" onclick="search();" type="submit" value="Search">
        </div>

        <fieldset id="model">
          <!-- 14 character max    12/07 | 12:00 PM -> -->
            <legend class="animateEnd">hey yo</legend>
            <p>
            <span>sfvdz</span>
            svdzcx
            </p>
                <form id="prog" style="display: none;" action="update">
                    <div>
                      <input id="id" type="hidden" value="#">
                      <input type="text" onclick="flood(this);" placeholder="Enter Your Progress..." class="progress"><br>
                      <input class="submitText" type="submit" value="Submit">
                    </div>
                  </form>
          </fieldset>
          <script>
    function flood(obj){
      var ba = $(obj).parent().parent().siblings("legend");
      $(obj).siblings("#id").val(ba.text());
    }
          </script>

          <div id="notFound">
            No ID opened!
          </div>
          
          <form action="/timeliner/createTopic" style="display: none;" id="create">
          <fieldset>
              <!-- 14 character max -->
                <legend class="animateEnd"><input type="number" placeholder="Create numerical ID" name="ID" required><input type="text" placeholder="Topic Name" name="topicName" maxlength="14" required></legend>
                <div>
                <input class="submitText" type="submit" value="CREATE">
                </div>
              </fieldset>
              </form>
    <!-- FAB button with ripple -->
    <div id="add-button">
      <button class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored">
        <i class="material-icons">add</i>
      </button>
    </div>
    <footer>
        <hr>
      REGISTERED ID: <span>12345</span>
    </footer>
    </body>
</html>